version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
      - BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:5173"]
      - WORKER_CONCURRENCY=${WORKER_CONCURRENCY:-20}
    depends_on:
      - redis
    ports:
      - "8000:8000"

  worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A app.worker.celery_app worker --loglevel=info
    restart: always
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
      - WORKER_CONCURRENCY=${WORKER_CONCURRENCY:-20}
    depends_on:
      - redis
  beat:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: celery -A app.worker.celery_app beat --loglevel=info
    restart: always
    volumes:
      - ./backend:/app
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - backend

volumes:
  redis_data:
