name: Auto Update Localhost

on:
  push:
    branches: [ "main" ]  # Jalan setiap ada push ke branch main

jobs:
  deploy-local:
    runs-on: self-hosted  # Wajib pakai ini agar jalan di komputer Anda
    
    steps:
    - name: Ambil kode terbaru dari GitHub
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' # Sesuaikan versi python Anda

    - name: Install Dependencies
      run: |
        pip install -r requirements.txt

    - name: Copy File ke Folder Project Asli
      run: |
        # Script PowerShell untuk copy file dari Runner ke Folder Kerja
        # /E = Copy subfolder, /Y = Overwrite tanpa tanya
        $source = "."
        $dest = "C:\Users\NAR\Documents\Project-instatool\tools-ig"
        
        echo "Mengcopy file update ke $dest..."
        xcopy $source $dest /E /Y /I
        
        echo "Update Selesai!"